<top class=" bg-white py-4 top-0 h-full w-full border-b border-gray-300">
    <div class="flex items-center space-x-6 px-12">
            <span class="nermal-circle rounded-full w-12 h-12"></span>
            <text class="font-medium">Arjun Aditya</text>

    </div>
</top>


<style>
    .nermal-circle {
        background: linear-gradient(138deg, #105EFF 15.87%, #A1CDFF 88.66%);
    }
</style>

