---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		If you're looking for the previous version of arjunaditya.xyz please go to <a href="https://archived.arjunaditya.xyz/" target="_blank">archived.arjunaditya.xyz</a>.
	</p>
</Layout>
