---
import { getCollection } from "astro:content"
import { sortPostsByDate } from "../lib/date"
import Base from "../layouts/Base.astro"
// import Project from "../components/Project.astro"
// import PostRow from "../components/PostRow.astro"
import { getProjects } from "../lib/projects"
import Skillset from "../components/skillset.astro"
import Experience from "../components/experience.astro"


// const projects = await getProjects(6)
const projects = await getProjects()
const posts = sortPostsByDate(
  await getCollection("blog", ({ data }) => data.isDraft !== true),
).slice(0, 4)

const title = "Arjun • home";
---

<Base
  {title}
  description="Personal website and blog of Shoubhit Dash aka nexxel."
  image="https://og.nxl.sh/home"
>
  <h1 slot="header-content" class="text-neutral-300 font-medium text-2xl">
    Arjun Aditya
  </h1>
      <small class="text-neutral-500 text-md"
        >AR-jun / — mythological warrior (south-asian subcontinent)</small
      >
  <main class="prose leading-6">
    <p class="text-lg">
      Well hello there, I'm <strong>Arjun Aditiya</strong> also known by my internet alias "<strong>nermal</strong>" or "<strong>nermalcat69</strong>". I enjoy <strong>web development</strong>, <strong>App Development Using Tauri</strong>, <strong>Building User Interfaces and Graphics on Figma</strong>, and a lot of stuff.
    </p>
    <p class="text-lg">My life started with my love for <strong>phones and computers, at age 10 (unity software)</strong>. I began <strong>programming</strong> after some time, then discovered my passion for <strong>finance</strong> and entered the <strong>financial markets at age 15</strong>. My interests also include <strong>economics, international relations, graphic design, video editing, and photography with Rebel T6i</strong>.</p>
    <p class="text-lg">
      Right now I'm working at 
        <a class="text-neutral-400 hover:text-neutral-300 px-1 rounded-md underline duration-75"
          href="https://gluo.xyz"
          target="_blank"
        >
			Gluo</a>, building a privacy oriented social media.

    </p>
    <Skillset />
    <Experience />
    <!-- <div class="mt-12 border-t-2 border-neutral-700">
      <h2>Projects</h2>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
         {projects.map(project => <Project {project} />)}
      </div>
    </div> -->
    <!-- <div class="mt-12 border-t-2 border-neutral-700">
      <h2>Blog</h2>
        <div class="flex flex-col gap-4">
            {posts.map(post => <PostRow {post} />)}
          <span>
            <Link href="/blog">All posts →</Link>
          </span>
      </div>
    </div> -->
  </main>
</Base>


<style>
  .arjunaditya {
    background: linear-gradient(180deg, #6C6C6C 0%, #040711 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
</style>