---
import Layout from "../layouts/Layout.astro";

---


<Layout title="Arjun Aditya">
  <main class="flex justify-center h-screen max-w-[700px] mx-auto p-3">
    <div class="pt-8">
      <h1 class="text-xl font-bold text-gray-300 ">
        Arjun Aditya</span>
      </h1>
	  <p class="text-gray-300 pt-4 pb-14"> A ready-to-go starter template for Astro with Tailwind to jump start your project  A ready-to-go starter template for Astro with Tailwind to jump start your project.</p>
      <div class="instructions max-w-3xl">
        <span class=" text-white">
 <span class="block text-lg font-bold">Get Started <code class="block mt-2">git clone https://github.com/nermalcat69/astro-with-tailwind</code></span
          >
        </span>
      </div>
    </div>
  </main>
</Layout>

<style>
  .instructions {
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }

</style>
