<div class="bg-white border border-gray-400">
    <image></image>
    <div class="flex">
    <span class="text-lg">nermal</span>
    <description class="text-sm">Nermal wermal</description>
    </div>
</div>