---
import Experiencecard from "./ExperienceCard.astro";
---

<div class="my-8">
    <h2 class="text-white">Experience</h2>
    <div class="my-4 space-y-12">
    <Experiencecard 
        Time="Sep 2023 - Present" 
        Company="Gluo" 
        Title=" Full Stack Developer" 
        Description="Working on creating an advanced communication platform with AI support to digitize society and make it accessible to people worldwide, regardless of their location or background. The goal is to simplify communication across various industries, and districts and municipalities working on city digitization efforts can benefit from the technologies we provide to streamline communication." 
        SkillOne="Typescript"
        SkillTwo="Sveltekit"
        SkillThree="Tailwind"
        SkillFour="Figma"
        CompanyLink="https://gluo.xyz"
        />
    </div>
</div>