---
import Link from "./Link.vue";
---
<div class="prose">
  <hr />

  <footer class="flex justify-between">
    <span>Arjun Aditya</span>

    <div class="flex gap-4">
      <Link href="/rss.xml">
        <div class="i-mdi:rss hover:text-gray-300 duration-75" title="RSS" />
      </Link>

      <Link href="/sitemap-index.xml">
        <div class="i-mdi:sitemap hover:text-gray-300 duration-75" title="Sitemap" />
      </Link>

      <Link href="mailto:nermal@skiff.com">
        <div class="i-tabler:mail-filled hover:text-gray-300 duration-75" title="Email" />
      </Link>

      <Link href="https://github.com/nermalcat69">
        <div class="i-mdi:github hover:text-gray-300 duration-75" title="GitHub" />
      </Link>

      <!-- <Link href="https://www.linkedin.com/in/shoubhit-dash-406583286/">
        <div class="i-mdi:linkedin" title="Linkedin" />
      </Link> -->

      <Link href="https://twitter.com/nermalcat69">
        <!-- <div class="i-tabler:brand-x" title="X (formerly known as Twitter)" /> -->

        <!-- temp -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x hover:text-gray-300 duration-75" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <title>X (formerly known as Twitter)</title>
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
          <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
        </svg>
      </Link>
    </div>
  </footer>
</div>
