---
import { Icon } from "astro-icon";
import type { NavItem } from "~/types";

const navItems: Array<NavItem> = [
  { title: "Features", url: "#features" },
  { title: "Compatibility", url: "#compatibility" },
  { title: "Showcase", url: "#showcase" },
];
---

<header id="page-header" class=""> 
  <h1 class="text-black text-3xl font-medium">Arjun Aditya<span class="text-gray-600">.</span></h1>
</header>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-default text-default;
  }
  .modal.is-open {
    @apply block;
  }
</style>
