---
import Cards from "./cards.astro";

---


<Cards />

<section class="max-w-2xl pt-12">
    <p class="font-medium">Hello, I'm Arjun Aditya, aka Nermalcat69. I began coding at 11 with my first Acer laptop. At 17, I'm deeply into MERN stack development and open-source contributions. I'm currently exploring macOS development with ElectronJS. Thanks for visiting! Beyond coding, I'm passionate about graphic design, and I take pride in my work. Explore my journey and creations below.</p>
</section>





