---
import Skill from "../components/skill.astro"
---
<div>
  <h2 class="text-white text-2xl tracking-wider">Skillset</h2>
  <div class="flex flex-row justify-start flex-wrap gap-3">
    <Skill skillname="Javascript" />
    <Skill skillname="Typescript" />
    <Skill skillname="Rust" />
    <Skill skillname="GoLang" />
    <Skill skillname="React" />
    <Skill skillname="Next.js" />
    <Skill skillname="Sveltekit" />
    <Skill skillname="Astro" />
    <Skill skillname="Handlebars" />
    <Skill skillname="Tailwind" />
    <Skill skillname="Redux" />
    <Skill skillname="Radix UI" />
    <Skill skillname="Supabase" />
    <Skill skillname="Playwright" />
    <Skill skillname="Zustand" />
    <Skill skillname="Storybook" />
    <Skill skillname="DevOps" />
    <Skill skillname="Redis" />
    <Skill skillname="Tauri" />
    <Skill skillname="Figma" />
    <Skill skillname="Final Cut Pro" />
    <Skill skillname="Remotion" />
    <Skill skillname="Mongodb" />
    <Skill skillname="Node.js" />
  </div>
</div>
