.deploybutton {
    background-color: #00b1a3;
    padding-left: 7.25rem;
    padding-right: 7.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 700;
    color: #fff;
    transition: 300ms;
}

.deploybutton:hover {
    background-color: #3cbdb2;
}

.primarybutton {
    background-color: #131313;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 600;
    color: #fff;
    transition: 300ms;
}

.primarybutton:hover {
    background-color: #4a4a4a;
}

.discordbutton {
    border: #d4d4d4 solid 1px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 600;
    color: #131313;
    transition: 300ms;
}

.discordbutton:hover {
    background-color: #f9f9f9;
}

.zeropsbutton {
    border: #d4d4d4 solid 1px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 600;
    color: #131313;
    transition: 300ms;
}
.zeropsbutton:hover {
    background-color: #f9f9f9;
}

.zerops:hover {
    color: #666;
}

.link {
    color: #121212;
    font-weight: 600;
}

.link:hover {
    color: #222222;
    text-decoration: underline;
}

.copybtn {
    transition: 300ms;
}
