@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Italic-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


body {
    font-family: 'Inter', sans-serif;
}


:root {
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

html {
    background: #ffffff;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #ffffff;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::selection {
    @apply bg-[#edffc0];
}

body::-webkit-scrollbar {
    display: none;
}

/* p {
    color: #121212;
    text-wrap: wrap;
} */

h1 {
    color: #070707;
}

.ttl {
    font-size: 17.5px;
    font-weight: 400;
}

.ttlb {
    font-weight: 400;
}

.txt {
    color: rgb(80, 80, 80);
    line-height: 1.65;
    word-spacing: 0.25px;
    letter-spacing: 0.3px;
    font-size: 16.5px;
    font-weight: 400;
    @apply py-2.5;
}

h3 {
    padding-bottom: 0.5rem;
    color: #1a1a1a;
    font-weight: 500;
}

.section {
    @apply py-5 md:py-6;
}

a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.fixed {
    transition: opacity 0.3s ease-in-out;
}

.image-card {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center;
}

.image-card:hover:not(.selected) {
    transform: scale(1.02);
}

.image-card.selected {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.image-card img {
    will-change: opacity;
}

@media (max-width: 640px) {
    .image-card {
        transform: scale(1.5);
    }

    .image-card.selected {
        transform: scale(2.5) !important;
    }
}