/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/* Apply Inter as the default font */
:root {
  font-family: 'Inter', sans-serif !important;
}

* {
  font-family: 'Inter', sans-serif !important;
}

::selection {
  background-color: #bbbbbb;
  color: #000000;
}
